<div *ngIf="post"  class="container">
  <div class="card category-card">
    <div class="card-body category-detail">
      <div class="header">
        <h1 class="category-name">{{ post.title | uppercase }}</h1>
      </div>
      <div class="content">
        <p class="card-text">{{ post.content }}</p>
      </div>
    </div>

    <ul class="list-group list-group-flush">
      <li class="list-group-item">Post ID: {{ post.postId }}</li>
      <li class="list-group-item">Author Name: {{ users[+post.userId - 1].username }}</li>
      <li class="list-group-item">User ID: {{ post.userId }}</li>
      <li class="list-group-item">Date: {{ post.creationDate }}</li>
      <li class="list-group-item">View Count: {{ post.viewCount }}</li>
      <li class="list-group-item">Is Published: {{ post.isPublished }}</li>
    </ul>
  </div>

  <div class="button-container">
    <button class="btn btn-primary" (click)="performEdit()">Edit</button>
    <button class="btn btn-secondary" (click)="performDelete()">Delete</button>
  </div>

  <form *ngIf="updateMode && post" class="form-container">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" [(ngModel)]="post.title" name="title" class="form-control">
    </div>
    <div class="form-group">
      <label for="content">Content</label>
      <input type="content" [(ngModel)]="post.content" name="content" class="form-control">
    </div>
    <div class="form-group">
      <label for="creationDate">Creation Date</label>
      <input type="date" [(ngModel)]="post.creationDate" name="creationDate" class="form-control">
    </div>
    <div class="form-group">
      <label for="isPublished">Published State</label>
      <select [(ngModel)]="post.isPublished" name="isPublished" class="form-control">
        <option [value]="true">Active</option>
        <option [value]="false">Passive</option>
      </select>
    </div>
    <div class="form-group">
      <label for="user">User</label>
      <select [(ngModel)]="post.userId" name="user" class="form-control">
        <option *ngFor="let user of users" [value]="user.userId">{{ user.username }}</option>
      </select>
    </div>
    <div class="button-container">
      <button class="btn btn-primary" type="button" (click)="performSave()">Save</button>
      <button [routerLink]="'/posts'" class="btn btn-secondary">Cancel</button>
    </div>
  </form>
</div>
