<h1>Post List</h1>

<table class="table">
    <thead>
        <tr>
            <td *ngFor="let column of tableColumns">{{ column }}</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let post of pagedData">
            <td>{{post.postId}}</td>
            <td>{{post.title}}</td>
            <td>{{post.viewCount}}</td>
            <td>{{post.creationDate}}</td>
            <td>{{post.isPublished}}</td>
            <app-action-button [text]="'Details'" [id]= "post.postId" (action)="performDetail($event)"></app-action-button>
            <app-action-button [text]="'Delete'" [id]= "post.postId" (action)="performDelete($event)" ></app-action-button>
        </tr>
    </tbody>
</table>

<div class="pagination" *ngIf="totalPages > 0">
    <button [disabled]="currentPage === 1" (click)="previousPage()">Previous</button>
    <span>{{ currentPage }}</span>
    <button [disabled]="currentPage === totalPages" (click)="nextPage()">Next</button>
  </div>

<button [routerLink]="'/postadd'">Add Post</button>